<div class="container-wrap">
    <div class="container container-message container-details container-about">
        <div class="contar-wrap">
            <div class="item">
                <div class="item-box">
                    <h3>关于</h3>
                    <p>代码生成工具</p>
                    <div>V2021.1.1</div>
                    <div>联系：18975391618</div>
                    <div class="count layui-clear">
                        <span class="pull-left">阅读 <em>1000+</em></span>
                        <span class="pull-right like"><i class="layui-icon layui-icon-praise"></i><em>999</em></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
