<div class="container-wrap">
    <div class="container">
        <div class="contar-wrap">
            <h4 class="item-title">
                <p><i class="layui-icon layui-icon-speaker"></i><span>欢迎您,推荐用chrome、edge等浏览器查看本页</span></p>
            </h4>
            <div class="item">
                <fieldset class="layui-elem-field">
                    <legend style="font-size: 14px;font-weight: bold;">数据库连接（mysql）</legend>
                    <div class="layui-form">
                        <div class="layui-inline">
                            <label class="layui-form-label">主机:</label>
                            <div class="layui-input-inline" style="width: 300px;">
                                <input type="text" lay-verify="required" name="url" value="127.0.0.1:3306"
                                       placeholder="ip:port"
                                       autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">数据库:</label>
                            <div class="layui-input-inline" style="width: 300px;">
                                <input type="text" lay-verify="required" name="db" placeholder="数据库名称"
                                       autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">用户名:</label>
                            <div class="layui-input-inline" style="width: 300px;">
                                <input type="text" lay-verify="required" name="username" value="root" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">密码:</label>
                            <div class="layui-input-inline" style="width: 300px;">
                                <input type="text" lay-verify="required" name="password" value="root" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn" lay-submit lay-filter="connect">连接</button>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field">
                    <legend style="font-size: 14px;font-weight: bold;">模版设置</legend>
                    <div id="patternConfig">
                        <form class="layui-form" id="genForm">
                            <div class="layui-inline" style="display: none;">
                                <label class="layui-form-label">author:</label>
                                <div class="layui-input-inline" style="width: 300px;">
                                    <input type="text" lay-verify="" name="author" placeholder="作者"
                                           autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">表名模块:</label>
                                <div class="layui-input-inline" style="width: 300px;">
                                    <input type="checkbox" name="hasModule" lay-skin="switch" lay-text="on|off">
                                    提取表名前辍
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">实体包名:</label>
                                <div class="layui-input-inline" style="width: 300px;">
                                    <input type="text" lay-verify="required|pkg" name="doPkg" placeholder="github.com/abc/entity"
                                           autocomplete="off"
                                           value="github.com/abc/entity"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">dao包名:</label>
                                <div class="layui-input-inline" style="width: 300px;">
                                    <input type="text" lay-verify="required|pkg" name="daoPkg" placeholder="github.com/abc/dao"
                                           autocomplete="off"
                                           value="github.com/abc/dao"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">service包名:</label>
                                <div class="layui-input-inline" style="width: 300px;">
                                    <input type="text" lay-verify="required|pkg" name="servicePkg"
                                           placeholder="github.com/abc/service"
                                           autocomplete="off"
                                           value="github.com/abc/service"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">实体后辍:</label>
                                <div class="layui-input-inline" style="width: 300px;">
                                    <input type="text" lay-verify="" name="doSuffix"
                                           placeholder=""
                                           value=""
                                           autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">dao后辍:</label>
                                <div class="layui-input-inline" style="width: 300px;">
                                    <input type="text" lay-verify="required" name="daoSuffix"
                                           placeholder="DAO"
                                           value="DAO"
                                           autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">service后辍:</label>
                                <div class="layui-input-inline" style="width: 300px;">
                                    <input type="text" lay-verify="required" name="serviceSuffix"
                                           placeholder="Service"
                                           value="Service"
                                           autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button id="btnCommit" class="layui-btn" lay-submit lay-filter="commit"
                                        style="display: none;"></button>
                            </div>
                        </form>
                    </div>
                </fieldset>
                <fieldset class="layui-elem-field">
                    <legend style="font-size: 14px;font-weight: bold;">选择表格</legend>
                    <form class="layui-form">
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: auto;">表名:</label>
                            <div class="layui-input-inline" style="width: 200px;">
                                <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="layui-btn" lay-submit lay-filter="query">查询</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            <button type="button" class="layui-btn layui-btn-normal" id="commit">提交</button>
                        </div>
                    </form>
                    <table id="gen" lay-filter="gen"></table>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<iframe src="" style="display:none;" id="downFileIframe"></iframe>
<script src="../res/static/js/index.js"></script>
